AI Revenue Intelligence & CRM Automation Agent.json
{
  "name": "AI Revenue Intelligence & CRM Automation Agent",
  "nodes": [
    {
      "parameters": {},
      "type": "n8n-nodes-base.noOp",
      "name": "Replace Me",
      "typeVersion": 1,
      "position": [
        16,
        288
      ],
      "id": "48e25edb-a818-40c1-8214-5914738e299c",
      "placeholder": true
    },
    {
      "parameters": {
        "model": "llama-3.3-70b-versatile",
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.lmChatGroq",
      "typeVersion": 1,
      "position": [
        176,
        64
      ],
      "id": "f79eea93-61c7-4df3-ab41-b771ad1e3a24",
      "name": "Groq Chat Model",
      "credentials": {
        "groqApi": {
          "id": "tebpuNJXnEe9dwY8",
          "name": "Groq account 2"
        }
      }
    },
    {
      "parameters": {},
      "type": "n8n-nodes-base.manualTrigger",
      "typeVersion": 1,
      "position": [
        -448,
        0
      ],
      "id": "b747ca10-c412-4b0a-b27c-3960281edada",
      "name": "🚀 Start Workflow"
    },
    {
      "parameters": {
        "documentId": {
          "__rl": true,
          "value": "1qgC0e6TFGGgi8GilJfiSV3dkBPfQXgarLG-Ql8gs34w",
          "mode": "list",
          "cachedResultName": "AI Revenue Intelligence & CRM Automation Agent",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/1qgC0e6TFGGgi8GilJfiSV3dkBPfQXgarLG-Ql8gs34w/edit?usp=drivesdk"
        },
        "sheetName": {
          "__rl": true,
          "value": "gid=0",
          "mode": "list",
          "cachedResultName": "Sheet1",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/1qgC0e6TFGGgi8GilJfiSV3dkBPfQXgarLG-Ql8gs34w/edit#gid=0"
        },
        "options": {}
      },
      "type": "n8n-nodes-base.googleSheets",
      "typeVersion": 4.7,
      "position": [
        -240,
        0
      ],
      "id": "842a322b-e753-425e-81b0-f20f9ae1cdf0",
      "name": "📋 Lead List (Google Sheets)",
      "credentials": {
        "googleSheetsOAuth2Api": {
          "id": "TKlKvQiHovOOEPmw",
          "name": "Google Sheets account 3"
        }
      }
    },
    {
      "parameters": {
        "options": {}
      },
      "type": "n8n-nodes-base.splitInBatches",
      "typeVersion": 3,
      "position": [
        -32,
        0
      ],
      "id": "3d44a47a-ae7f-4fb9-aeb6-d543713dee6c",
      "name": "🔁 Process Each Company"
    },
    {
      "parameters": {
        "promptType": "define",
        "text": "=You are an AI Revenue Intelligence Research Agent.\n\nAnalyze the following company.\n\nCompany Name:\n{{ $json[\"Company Name\"] }}\n\nWebsite:\n{{ $json[\"Website\"] }}\n\nGenerate a structured business research report.\n\nReturn ONLY valid JSON.\n\n{\n  \"company_name\":\"\",\n  \"industry\":\"\",\n  \"email\":\"\",\n   \"website\":\"\",\n  \"business_summary\":\"\",\n  \"target_customers\":\"\",\n  \"products_services\":\"\",\n  \"pain_points\":\"\",\n  \"opportunities\":\"\",\n  \"recommended_solution\":\"\",\n  \"crm_stage\":\"New Lead\"\n   \"lead_score\": \"92\",\n    \"priority\": \"High\",\n}\nReturn ONLY valid JSON.\n\nDo NOT use markdown.\n\nDo NOT wrap the JSON in ```json or ```.\n\nReturn only the JSON object.",
        "batching": {}
      },
      "type": "@n8n/n8n-nodes-langchain.chainLlm",
      "typeVersion": 1.9,
      "position": [
        176,
        -96
      ],
      "id": "c46e6116-ea31-4ca0-9fcb-be3b4d541e45",
      "name": "AI Revenue Intelligence Agent",
      "alwaysOutputData": true
    },
    {
      "parameters": {
        "jsCode": "const results = [];\n\nfor (const item of $input.all()) {\n\n  let text = item.json.text;\n\n  // Remove markdown code blocks\n  text = text.replace(/```json/g, \"\");\n  text = text.replace(/```/g, \"\").trim();\n\n  const data = JSON.parse(text);\n\n  results.push({\n    json: {\n      company_name: data.company_name || \"\",\n      first_name: data.first_name || \"\",\n      last_name: data.last_name || \"\",\n      phone_number: data.phone_number || \"\",\n      website: data.website || \"\",\n      industry: data.industry || \"\",\n      email: data.email || \"\",\n      business_summary: data.business_summary || \"\",\n      target_customers: data.target_customers || \"\",\n      products_services: data.products_services || \"\",\n      pain_points: data.pain_points || \"\",\n      opportunities: data.opportunities || \"\",\n      recommended_solution: data.recommended_solution || \"\",\n      crm_stage: data.crm_stage || \"New Lead\",\n      lead_score: data.lead_score || \"\",\n      priority: data.priority || \"\"\n    }\n  });\n\n}\n\nreturn results;"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        528,
        -96
      ],
      "id": "3ff3c0da-6f1b-49b6-8f40-983e36b56d1b",
      "name": "🔄 Research JSON Formatter"
    },
    {
      "parameters": {
        "operation": "append",
        "documentId": {
          "__rl": true,
          "value": "1qgC0e6TFGGgi8GilJfiSV3dkBPfQXgarLG-Ql8gs34w",
          "mode": "list",
          "cachedResultName": " Revenue Intelligence & CRM Automation Agent",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/1qgC0e6TFGGgi8GilJfiSV3dkBPfQXgarLG-Ql8gs34w/edit?usp=drivesdk"
        },
        "sheetName": {
          "__rl": true,
          "value": 2007357536,
          "mode": "list",
          "cachedResultName": "Research_Repository",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/1qgC0e6TFGGgi8GilJfiSV3dkBPfQXgarLG-Ql8gs34w/edit#gid=2007357536"
        },
        "columns": {
          "mappingMode": "defineBelow",
          "value": {
            "Company Name": "={{ $json.company_name }}",
            "Website": "={{ $json.website }}",
            "Industry": "={{ $json.industry }}",
            "Business Summary": "={{ $json.business_summary }}",
            "Pain Points": "={{ $json.pain_points }}",
            "Opportunities": "={{ $json.opportunities }}",
            "Recommended Solution": "={{ $json.recommended_solution }}",
            "Lead Score": "={{ $json.lead_score }}",
            "Priority": "={{ $json.priority }}",
            "Date": "={{ $now}}"
          },
          "matchingColumns": [],
          "schema": [
            {
              "id": "Company Name",
              "displayName": "Company Name",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "Website",
              "displayName": "Website",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "Industry",
              "displayName": "Industry",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "Business Summary",
              "displayName": "Business Summary",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "Pain Points",
              "displayName": "Pain Points",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "Opportunities",
              "displayName": "Opportunities",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "Recommended Solution",
              "displayName": "Recommended Solution",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "Lead Score",
              "displayName": "Lead Score",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "Priority",
              "displayName": "Priority",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "Date",
              "displayName": "Date",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            }
          ],
          "attemptToConvertTypes": false,
          "convertFieldsToString": false
        },
        "options": {}
      },
      "type": "n8n-nodes-base.googleSheets",
      "typeVersion": 4.7,
      "position": [
        736,
        -96
      ],
      "id": "1f333f73-ef89-4e05-a297-bc025636e6b1",
      "name": "📚 AI Research Repository",
      "credentials": {
        "googleSheetsOAuth2Api": {
          "id": "TKlKvQiHovOOEPmw",
          "name": "Google Sheets account 3"
        }
      }
    },
    {
      "parameters": {
        "authentication": "oAuth2",
        "resource": "company",
        "name": "={{$node[\"🔄 Research JSON Formatter\"].json.company_name}}",
        "additionalFields": {
          "description": "={{$node[\"🔄 Research JSON Formatter\"].json.business_summary}}"
        }
      },
      "type": "n8n-nodes-base.hubspot",
      "typeVersion": 2.2,
      "position": [
        944,
        -96
      ],
      "id": "50c21620-58c8-4079-a585-0745377d0567",
      "name": "🏢 Create Company (HubSpot)",
      "alwaysOutputData": false,
      "credentials": {
        "hubspotOAuth2Api": {
          "id": "B1T81IgiGc57i1x9",
          "name": "HubSpot account"
        }
      }
    },
    {
      "parameters": {
        "authentication": "oAuth2",
        "email": "={{$node[\"🔄 Research JSON Formatter\"].json.email}}",
        "additionalFields": {
          "companyName": "={{$node[\"🔄 Research JSON Formatter\"].json.company_name}}",
          "firstName": "={{ $node[\"🔄 Research JSON Formatter\"].json.first_name }}",
          "lastName": "={{ $node[\"🔄 Research JSON Formatter\"].json.last_name }}",
          "phoneNumber": "={{ $node[\"🔄 Research JSON Formatter\"].json.phone_number }}",
          "websiteUrl": "={{ $node[\"🔄 Research JSON Formatter\"].json.website }}"
        },
        "options": {
          "resolveData": true
        }
      },
      "type": "n8n-nodes-base.hubspot",
      "typeVersion": 2.2,
      "position": [
        1104,
        -96
      ],
      "id": "9353fc25-4e4f-471f-9b45-4ee9c6ff0e8c",
      "name": "👤 Create Contact (HubSpot)",
      "credentials": {
        "hubspotOAuth2Api": {
          "id": "B1T81IgiGc57i1x9",
          "name": "HubSpot account"
        }
      }
    },
    {
      "parameters": {
        "authentication": "oAuth2",
        "resource": "deal",
        "stage": "appointmentscheduled",
        "additionalFields": {
          "amount": "10000",
          "associatedCompany": [
            332694750955
          ],
          "description": "={{$node[\"🔄 Research JSON Formatter\"].json.business_summary}}",
          "pipeline": "default"
        }
      },
      "type": "n8n-nodes-base.hubspot",
      "typeVersion": 2.2,
      "position": [
        1264,
        -96
      ],
      "id": "7e01d106-f8b5-45ac-a537-a792392847de",
      "name": "💼 Create Deal (HubSpot)",
      "alwaysOutputData": true,
      "credentials": {
        "hubspotOAuth2Api": {
          "id": "B1T81IgiGc57i1x9",
          "name": "HubSpot account"
        }
      }
    },
    {
      "parameters": {
        "operation": "append",
        "documentId": {
          "__rl": true,
          "value": "1qgC0e6TFGGgi8GilJfiSV3dkBPfQXgarLG-Ql8gs34w",
          "mode": "list",
          "cachedResultName": " Revenue Intelligence & CRM Automation Agent",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/1qgC0e6TFGGgi8GilJfiSV3dkBPfQXgarLG-Ql8gs34w/edit?usp=drivesdk"
        },
        "sheetName": {
          "__rl": true,
          "value": 1762611753,
          "mode": "list",
          "cachedResultName": "CRM_Outreach",
          "cachedResultUrl": "https://docs.google.com/spreadsheets/d/1qgC0e6TFGGgi8GilJfiSV3dkBPfQXgarLG-Ql8gs34w/edit#gid=1762611753"
        },
        "columns": {
          "mappingMode": "defineBelow",
          "value": {
            "Deal ID": "={{ $json.dealId }}",
            "Contact Email": "={{$node[\"🔄 Research JSON Formatter\"].json.email}}",
            "Lead Score": "={{$node[\"🔄 Research JSON Formatter\"].json.lead_score}}",
            "Priority": "={{$node[\"🔄 Research JSON Formatter\"].json.priority}}",
            "Deal Stage": "\"Appointment Scheduled\"",
            "CRM Status": "\"Deal Created\"",
            "Created Time": "={{$now}}",
            "Company Name": "={{$node[\"🔄 Research JSON Formatter\"].json.company_name}}"
          },
          "matchingColumns": [],
          "schema": [
            {
              "id": "Company Name",
              "displayName": "Company Name",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "Deal ID",
              "displayName": "Deal ID",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "Contact Email",
              "displayName": "Contact Email",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "Lead Score",
              "displayName": "Lead Score",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "Priority",
              "displayName": "Priority",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "Deal Stage",
              "displayName": "Deal Stage",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "CRM Status",
              "displayName": "CRM Status",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            },
            {
              "id": "Created Time",
              "displayName": "Created Time",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "canBeUsedToMatch": true
            }
          ],
          "attemptToConvertTypes": false,
          "convertFieldsToString": false
        },
        "options": {}
      },
      "type": "n8n-nodes-base.googleSheets",
      "typeVersion": 4.7,
      "position": [
        1472,
        -96
      ],
      "id": "96e1fe2f-6559-4016-b3ad-c61d359d6bbb",
      "name": "📈 CRM & Outreach History",
      "credentials": {
        "googleSheetsOAuth2Api": {
          "id": "TKlKvQiHovOOEPmw",
          "name": "Google Sheets account 3"
        }
      }
    },
    {
      "parameters": {
        "content": "📥 Lead Intake\n\nReads company names and websites from Google Sheets and processes each company individually.",
        "height": 176,
        "color": 6
      },
      "type": "n8n-nodes-base.stickyNote",
      "typeVersion": 1,
      "position": [
        -256,
        -192
      ],
      "id": "06a6163e-17c5-45e6-8451-07c3b10a31b4",
      "name": "Sticky Note"
    },
    {
      "parameters": {
        "content": "🤖 AI Research Engine\n\nUses Groq LLM to generate:\n\n• Company Research\n• Business Summary\n• Pain Points\n• AI Opportunities\n• Lead Score\n• Priority",
        "height": 256,
        "color": 3
      },
      "type": "n8n-nodes-base.stickyNote",
      "typeVersion": 1,
      "position": [
        160,
        -384
      ],
      "id": "7a9c0f2e-2ff7-463b-97fd-cbb3ecad0291",
      "name": "Sticky Note1"
    },
    {
      "parameters": {
        "content": "🔄 Data Transformation\n\nConverts AI response into\nstructured JSON for downstream automation."
      },
      "type": "n8n-nodes-base.stickyNote",
      "typeVersion": 1,
      "position": [
        464,
        -272
      ],
      "id": "848dbd3f-a861-4867-8d14-c0846033fd76",
      "name": "Sticky Note2"
    },
    {
      "parameters": {
        "content": "🏢 HubSpot CRM Automation\n\nAutomatically creates:\n\n• Company\n• Contact\n• Deal\n\ninside HubSpot CRM.",
        "height": 240,
        "width": 448,
        "color": 2
      },
      "type": "n8n-nodes-base.stickyNote",
      "typeVersion": 1,
      "position": [
        928,
        -352
      ],
      "id": "40d6eed1-3f51-4ba3-8da9-3316db52ab5b",
      "name": "Sticky Note3"
    },
    {
      "parameters": {
        "content": "📊 Data Repository\n\nStores:\n\n• AI Research\n• CRM Activity\n\nin Google Sheets for reporting and tracking.",
        "height": 240,
        "color": 5
      },
      "type": "n8n-nodes-base.stickyNote",
      "typeVersion": 1,
      "position": [
        1440,
        -368
      ],
      "id": "56088a2a-eaea-4208-920a-25591aa25f96",
      "name": "Sticky Note4"
    },
    {
      "parameters": {
        "content": "🤖 AI Revenue Intelligence & CRM Automation Agent\n\nAn AI-powered workflow that automates:\n\n• Company Research\n• Lead Qualification\n• CRM Record Creation\n• AI Research Repository\n• Sales Deal Creation\n• CRM Activity Tracking\n\nBuilt with:\nn8n • Groq • Google Sheets • HubSpot CRM\n\n✅ Version 1 Complete",
        "height": 352,
        "width": 560,
        "color": 4
      },
      "type": "n8n-nodes-base.stickyNote",
      "typeVersion": 1,
      "position": [
        -1104,
        -672
      ],
      "id": "370ab26f-afeb-4a35-8d17-55cc2a13b8c4",
      "name": "Sticky Note5"
    }
  ],
  "pinData": {},
  "connections": {
    "Replace Me": {
      "main": [
        [
          {
            "node": "🔁 Process Each Company",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Groq Chat Model": {
      "ai_languageModel": [
        [
          {
            "node": "AI Revenue Intelligence Agent",
            "type": "ai_languageModel",
            "index": 0
          }
        ]
      ]
    },
    "🚀 Start Workflow": {
      "main": [
        [
          {
            "node": "📋 Lead List (Google Sheets)",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "📋 Lead List (Google Sheets)": {
      "main": [
        [
          {
            "node": "🔁 Process Each Company",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "🔁 Process Each Company": {
      "main": [
        [
          {
            "node": "AI Revenue Intelligence Agent",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Replace Me",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "AI Revenue Intelligence Agent": {
      "main": [
        [
          {
            "node": "🔄 Research JSON Formatter",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "🔄 Research JSON Formatter": {
      "main": [
        [
          {
            "node": "📚 AI Research Repository",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "📚 AI Research Repository": {
      "main": [
        [
          {
            "node": "🏢 Create Company (HubSpot)",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "🏢 Create Company (HubSpot)": {
      "main": [
        [
          {
            "node": "👤 Create Contact (HubSpot)",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "👤 Create Contact (HubSpot)": {
      "main": [
        [
          {
            "node": "💼 Create Deal (HubSpot)",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "💼 Create Deal (HubSpot)": {
      "main": [
        [
          {
            "node": "📈 CRM & Outreach History",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "active": false,
  "settings": {
    "executionOrder": "v1",
    "binaryMode": "separate",
    "availableInMCP": false
  },
  "versionId": "556573e9-b14e-4969-b686-16e9676dd111",
  "meta": {
    "templateCredsSetupCompleted": true,
    "instanceId": "3fbb48e1adf15a10d9f2bf191054a2eefce2dbf340584a573060abd2361e0b8f"
  },
  "nodeGroups": [],
  "id": "1atNcQEILTMT2cNZ",
  "tags": []
}